/*版心*/
.w {
	width: 1190px;
	margin: auto;
}
.fr {
	float: right!important;
}
.fl {
	float: left;
}
.style-red {
	color: #f10215!important;
}
li {
	list-style: none;
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin:0;
	padding:0
}
input, button {
	padding: 0;
	border: 0;
}
a {
	text-decoration: none;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t6fml1');
  src:  url('../fonts/icomoon.eot?t6fml1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t6fml1') format('truetype'),
    url('../fonts/icomoon.woff?t6fml1') format('woff'),
    url('../fonts/icomoon.svg?t6fml1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
	background-color: #F6F6F6;
	/*font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b体,sans-serif;
        line-height: 1.5;
    color: #666;*/

}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
/* 京东 顶部 start */
.J_event {
	background-color: #000;
}
.J_event a {
	display: block;
	height: 80px;
	background: url(../images/top.jpg) no-repeat;
	position: relative;
}
.J_event a i {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 5px;
	font-family: "icomoon";
	font-style: normal;
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.4);
}
/* 京东 顶部 end */

 /*快捷导航模块制作开始*/
.shortcut {
	height: 30px;
	line-height: 30px;
	background-color: #e3e4e5;
	border-bottom: 1px solid #dddddd;
	color: #9D9D9D;
	font-size: 12px;
}

.shortcut a {
	color: #999;
}
.shortcut a:hover {
	color: #e33333;
}
.shortcut .fl li i {
/*	width: 20px;
	height: 20px;*/
	font-size: 14px;
	font-family: "icomoon";
	font-style: normal;
	text-align: center;
	color: #f10215;
}
.shortcut .fl li {
	margin-left: 200px;
	height: 30px;
	overflow: hidden;
}
.shortcut .fr li {
	float: left;
	
}
.spacer {
	width: 1px;
	height: 10px;
	margin: 10px;
	background-color: #ccc;
}
.dropdown {
	padding-right: 15px;
	position: relative;
	/*height: 30px;*/
}

.dropdown i {
	/*width: 12px;
	height: 12px;*/
	font-size: 16px;
	font-family: "icomoon";
	font-style: normal;
	position: absolute;
	top: -4px;
	right: -4px;
}
.iphone-app {
	position: relative;
	z-index: 1;

}

.iphone-app:hover .erweima {
	display: block;

}
.erweima {
	width: 60px;
	height: 60px;
	border: 1px solid #ccc;
	padding: 3px;
	position: absolute;
	bottom: -68px;
	right: -12px;
	display: none;
}

 /*快捷导航模块制作结束*/

/*header 部分开始*/
.header {
	height: 140px;
}
.inner {
	height: 140px;
	/*background-color: pink;*/
	position: relative;
}
/*logo 部分*/
.logo {
	height: 170px;
	width: 190px;
	background-color: purple;
	position: absolute;
	margin-top: -30px;
	box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.logo h1 {
	margin: 0;
}
.logo a {
	display: block;
	height: 170px;
	width: 190px;
	background: url(../images/logo.jpg) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
 /*搜索部分 */
 .search {
 	width: 550px;
 	height: 35px;
 	position: absolute;
	left: 320px;
	top: 25px;
 	background-color: purple;
 }
.search input {
	width: 493px;
	height: 33px;
	border: 1px solid #f10215;
	padding-left: 5px;
	outline: none; /* 取消蓝色边框 */
	color: #989898;
	float: left;
}
.search button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	float: right;
	cursor: pointer; /* 鼠标变成小手 */
	outline: none;
}
.search i {
	font-family: "icomoon";
	color: #fff;
	font-style: normal;
	font-size: 16px;
}
.search em {
	width: 19px;
	height: 15px;
	position: absolute;
	top: 10px;
	right: 65px;
	cursor: pointer;
	background: url(../images/sprite-search.png) no-repeat;
}
.search em:hover {
	background-position: -30px 0;
}
/*热词部分*/
.hotwords {
	position: absolute;
	top: 70px;
	left: 320px;
}

.hotwords a {
	font-size: 12px;
	color: #9e9b99;
}
.hotwords a:hover {
	color: #f10215;
}

/*购物车 部分*/
.mycar {
	width: 188px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #ccc;
	position: absolute;
	top: 25px;
	right: 100px;
}
.mycar i {
	font-family: "icomoon";
	font-style: normal;
	color: #f10215;
	margin-right: 3px;
}
.mycar a {
	font-size: 12px;
	color: #f10215;
}
.mycar s {
	position: absolute;
	top: 5px;
	left: 140px;
	/*right: auto;*/
	text-decoration: none;
	background-color: #f10215;
	border-radius: 7px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	padding: 0 3px;
	color: #fff;
}

/*电脑*/
.computer {
	position: absolute;
	right: 0px;
	bottom: 10px;
}
/*navitems*/
.navitems {
	position: absolute;
	left: 200px;
	bottom: 0px;
}
.navitems ul {
	float: left;
}
.navitems ul li {
	float: left;
	margin-left: 30px;
}
.navitems li a {
	font-size: 16px;
	color: #555a5f;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	/*background-color: #fff;*/
	display: block;
}
.navitems li a:hover,
.links a:hover {
	color: #f10215;
}
.navitems .spacer {
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: -10px;
}
/*header 部分结束*/

/*footer 开始*/
.footer {
	height: 560px;
	background-color: #eaeaea;
}
.footer-service {
	height: 100px;
	border-bottom: 1px solid #dedede;
}
.footer-service-inner {
	/*background-color: #fff;*/
	padding: 30px 0;
}
.footer-service-inner li {
	float: left;
	width: 297px;
	height: 42px;
}
.service_unit {
	width: 225px;
	height: 42px;
	margin: 0 auto;
	position: relative;
}

.service_unit h5 {
	width: 36px;
	height: 42px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/ico_service.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.service_unit p {
	line-height: 42px;
	margin-left: 45px;
	font-weight: 700;
	font-size: 18px;
}

 /*帮助模块 */
.help {
	height: 180px;
	padding-top: 20px;
	/*background-color: pink;*/
}
.help dl {
	float: left;
	width: 195px;
}
.help dt {
	font-size: 14px;
	font-weight: 700;
	color: #666;
	height: 30px;
}
.help dd {
	height: 22px;
}
.help dd a {
	color: #727272;
	font-size: 12px;
}
.help .cover {
    float: right;
    width: 207px;
    height: 150px;
    background: url(../images/ico_footer.png) no-repeat;
}
.cover dt {
	text-align: center;
}
.cover .info {
	width: 175px;
	height: 50px;
	font-size: 12px;
	line-height: 18px;
	color: #727272;
	margin-top: 5px;
	margin-left: 10px;
}
.more {
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}
.more a:hover {
	color: #f10215;
}

/*版权模块*/
.copyright {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.links {
	text-align: center;
}
.links a {
	font-size: 12px;
	color: #727272;
}

.links span {
	font-size: 12px;
	color: #d4cdcd;
	margin: 0 6px;
}
.c-info p a,
.c-info {
	font-size: 12px;
	color: #9E9E9B;
}
.c-info p a:hover {
	color: #f10215;
}
.c-info {
	text-align: center;
	line-height: 20px;
	margin-top: 10px;
}
.tupian {
	margin-top: 10px;
	text-align: center;
}
.tupian a {
	width: 103px;
	height: 32px;
	display: inline-block;
	background: url(../images/ico_footer.png) no-repeat 0 -151px;
}
a.tu-two {
    background-position: -104px -151px;
}
a.tu-thress {
	background-position: 0 -183px;
}
a.tu-four {
	background-position: -104px -183px;
}
a.tu-five {
	background-position: 0 -215px;
}
a.tu-six {
	background-position: -104px -215px;
}
/*footer 结束*/


