blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin:0;
	padding:0
	box-sizing: border-box;
}
em,i{
	font-style:normal;
}
li{
	list-style:none;
}
img{
	border:0;
	vertical-align:middle;
}
a {
	color: #050505;
	text-decoration: none;
}
a:hover {
	color: #c81623;
}

button,input{
	padding: 0;
	border: 0;
	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
body{
	-webkit-font-smoothing:antialiased;
	background-color:#fff;
	font:12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color:#666;
}
.hide,.none{
	display:none;
}
.clearfix:after{
	visibility:hidden;
	clear:both;
	display:block;
	content:".";
	height:0;
}.clearfix{
	*zoom:1;
}
/* 版心 */
.w {
	width: 1200px;
	margin: auto;
}
