body {
	background-color: #f3f5f7;

}
header {
	width: 1300px;
	height: 100px;
	/*background-color: pink;*/
	margin: auto;
	padding-top: 30px;
}
.logo {
	width: 195px;
	height: 42px;
	float: left;
	/*background-color: #fff;*/
}
.logo a {
	display: block;
	width: 195px;
	height: 42px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -999px;
	overflow: hidden;
}
/*导航栏*/
nav {
	float: left;
	margin-left: 20px;
}
nav ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: 25px;
}
nav li a {
	display: block;
	height: 40px;
	padding: 0 10px;
	font-size: 18px;
}
nav li a:hover {
	color: #00a4ff;
	border-bottom: 2px solid #00a4ff;
}
/*搜索框*/
.search {
	width: 410px;
	height: 40px;
	float: left;
	background-color: purple;
	margin-left: 50px;
}

.search input {
	width: 361px;
	height: 40px;
	font-size: 14px;
	outline: none;
	border: 1px solid #00a4ff;
	padding-left: 10px;
}

.search button {

	width: 49px;
	height: 40px;
	border: 0;
	outline: none;
	background: url(../images/fa-search.png) no-repeat;
	vertical-align: top;
}

/*个人中心*/
.person {
	width: 280px;
	height: 40px;
	float: right;
	font-size: 10px;
}

.person dt, .person dd {
	float: left;
}
.person dl {
	height: 40px;
	line-height: 40px;
}
.person s {
	padding: 0 10px;
	position: relative;
}
.person s::before {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	right: 4px;
} 

.person span img {
	border-radius: 50%;
	margin-right: 5px;
}

/*banner*/
.banner {
	height: 420px;
	background-color: #1C0B6E;
}
.banner .inner {
	height: 420px;
	position: relative;
}
/*侧边栏*/
.subnav {
	width: 190px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.3);
	padding-top: 20px;
	box-sizing: border-box;
}
.subnav ul {
	padding: 0;
}
.subnav li {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.subnav li a {
	color: #fff;
	font-size: 14px;

}
.subnav li span {
	position: absolute;
	top: 0;
	right: 15px;
}
.subnav a:hover {
	color: deepskyblue;
}

/*小圆点*/
.circle {
	width: 176px;
	height: 20px;
	/*background-color: #fff;*/
	position: absolute;
	left: 50%;
	bottom: 15px;
	margin-left: -88px;
}
.circle i {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: rgba(255,255,255,0.4);
	margin: 0 5px;
	border-radius: 6px;
	transition: all 0.4s;
}
.circle i:hover {
	width: 20px;
	background-color: #fff;
}
